{
  "name": "accounting_diary_new",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/scss/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    },
    {
      "path": "src/js/scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/scripts.securejs\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"\"}"
    },
    {
      "path": "src/js/index.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"\"}"
    },
    {
      "path": "src/scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "src/scss/index.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "src/scss/edit_categories_income.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "src/scss/layout/search.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/search.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "css/search.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/scss/search.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/search.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "src/scss/list_details.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "src/scss/edit_categories_expense2.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "src/scss/category_details.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "src/scss/edit_categories_expense.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "src/scss/all_status.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "src/index_data_empty.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index_data_empty.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "src/js/filter.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/filter.securejs.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"\"}"
    },
    {
      "path": "src/css/list_details_e.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"src/css/list_details_e-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/css/list_details.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"src/css/list_details-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/css/filter_e.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"css/filter_e-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/css/filter.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"css/filter-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/css/edit_categories_income2.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"css/edit_categories_income2-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/css/edit_categories_income.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"src/css/edit_categories_income-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/css/edit_categories_expense2.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"css/edit_categories_expense2-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/css/edit_categories_expense.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"css/edit_categories_expense-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/css/category_details_e.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"src/css/category_details_e-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/css/category_details.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"css/category_details-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/js/search.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/search.securejs.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"\"}"
    },
    {
      "path": "js/search.secure.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src",
      "src/js",
      "js",
      "src/scss",
      "src/css",
      "src/scss/component",
      "src/scss/layout",
      "src/component"
    ],
    "hideSystemFiles": false,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/category_details.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/category_details_e.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/check_Internet.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/edit_categories_expense.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/edit_categories_expense2.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/edit_categories_income.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/edit_categories_income2.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/filter.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/filter_e.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/index.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_tabs-time.pug",
        "src/component/_loader-mini.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/index_data_empty.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_tabs-time.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/index_data_empty_e.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_tabs-time_e.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/index_e.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_tabs-time_e.pug",
        "src/component/_loader-mini_e.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/index_others_e.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/list_details.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/list_details_creditCard_e.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/list_details_e.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/loading.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_loader.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/on_busy.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/search.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/search_e.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/search_income_no_content.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_tabs-time.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/search_income_no_result.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_tabs-time.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/template.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_tabs-time.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/under_construction.pug",
      "imports": [
        "src/_layout.pug",
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/_layout.pug",
      "imports": [
        "src/component/_header.pug"
      ]
    },
    {
      "path": "src/_layout.pug",
      "imports": [
        "src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/category_details.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/category_details_e.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/check_Internet.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/edit_categories_expense.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/edit_categories_expense2.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/edit_categories_income.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/edit_categories_income2.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/filter.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/filter_e.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/index.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_tabs-time.pug",
        "account_diary/src/component/_loader-mini.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/index_data_empty.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_tabs-time.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/index_data_empty_e.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_tabs-time_e.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/index_e.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_tabs-time_e.pug",
        "account_diary/src/component/_loader-mini_e.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/index_others_e.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/list_details.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/list_details_creditCard_e.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/list_details_e.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/loading.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_loader.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/on_busy.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/search.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/search_e.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/search_income_no_content.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/search_income_no_result.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/under_construction.pug",
      "imports": [
        "account_diary/src/_layout.pug",
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/_layout.pug",
      "imports": [
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "account_diary/src/_layout.pug",
      "imports": [
        "account_diary/src/component/_header.pug"
      ]
    },
    {
      "path": "src/scss/all_status.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/category_details.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/category_details_e.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/edit_categories_expense.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/edit_categories_expense2.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/edit_categories_income.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/edit_categories_income2.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/filter.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/filter_e.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/index.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/component/_tabs-time.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/index_e.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/component/_tabs-time_e.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/list_details.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/list_details_e.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/search.scss",
      "imports": [
        "src/scss/_layout.scss",
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "src/scss/_layout.scss",
      "imports": [
        "src/scss/layout/jqpreloader.scss",
        "src/scss/layout/_variables.scss",
        "src/scss/layout/_utilities.scss",
        "src/scss/layout/_icons.scss",
        "src/scss/layout/_pills.scss",
        "src/scss/layout/_icons_36x36.scss",
        "src/scss/layout/_icons_40x40_white.scss",
        "src/scss/layout/_icons_64x64.scss",
        "src/scss/layout/_components.scss",
        "src/scss/layout/_popup_modal.scss",
        "src/scss/component/_loader.scss",
        "src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/all_status.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/category_details.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/category_details_e.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/edit_categories_expense.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/edit_categories_expense2.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/edit_categories_income.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/edit_categories_income2.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/filter.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/filter_e.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/index.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/component/_tabs-time.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/index_e.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/component/_tabs-time_e.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/list_details.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/list_details_e.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/search.scss",
      "imports": [
        "account_diary/src/scss/_layout.scss",
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    },
    {
      "path": "account_diary/src/scss/_layout.scss",
      "imports": [
        "account_diary/src/scss/layout/jqpreloader.scss",
        "account_diary/src/scss/layout/_variables.scss",
        "account_diary/src/scss/layout/_utilities.scss",
        "account_diary/src/scss/layout/_icons.scss",
        "account_diary/src/scss/layout/_pills.scss",
        "account_diary/src/scss/layout/_icons_36x36.scss",
        "account_diary/src/scss/layout/_icons_40x40_white.scss",
        "account_diary/src/scss/layout/_icons_64x64.scss",
        "account_diary/src/scss/layout/_components.scss",
        "account_diary/src/scss/layout/_popup_modal.scss",
        "account_diary/src/scss/component/_loader.scss",
        "account_diary/src/scss/component/_scrollDate.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "securejs"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    ".git",
    ".gitignore"
  ],
  "server": {
    "port": 7913,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": false,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"replaceSegmentsWith\":\"../css/\",\"relative\":\"/css/\"},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions,ie >= 11,iOS >= 8,Android >= 4,Chrome >= 30,Firefox >= 30,Android >= 4"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegmentsWith\":\"../../../../\",\"relative\":\"../\"},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\",\"concat-js\"],\"sourceMap\":true,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegmentsWith\":\"\"},\"outputSuffix\":\"\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": true,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}