extends _layout.pug

//- 可覆寫 _layout.png 變數，或新增單頁所需變數
append vars
  - var data_header = {hasArrow: true, hasArrowHeader: false, hasClose: false}

//- 單頁樣式，或若有第三方樣式從這增加
append style    
  link(rel="stylesheet" href="./css/master.css")


//- main 區塊
append main 
  .container-fluid.maxWidth-768.min-height__100
    .wrapper
      .main__filter
        form(action="post") 
          h4 帳務類型
          .account__type
            .header-table
              .header-table__row
                .header-table__col
                  p.title 存款帳戶
                .header-table__col
                  .checkbox--ex
                    label#labelAllAccount 
                      p.fc-super-red 全選
                      input(type="checkbox" id="selectAcc" checked="checked")
                      span.checkmark
          #account_details(style="display:none")
            .details-table
              .details-table__row
                .details-table__col
                  p.title 營業部 DAWHO 活期儲蓄
                  span 198-018-2222222-2
                .details-table__col
                  .checkbox--ex
                    label#labelAllAccount 
                      p.opacity-0 全選
                      input(type="checkbox" class="checkItem")
                      span.checkmark
              .details-table__row
                .details-table__col
                  p.title 營業部 永豐活期儲蓄
                  span 198-018-2222222-2
                .details-table__col
                  .checkbox--ex
                    label#labelAllAccount 
                      p.opacity-0 全選
                      input(type="checkbox" class="checkItem")
                      span.checkmark
              .details-table__row
                .details-table__col
                  p.title 忠孝分行 外幣組合儲蓄
                  span 198-018-2222222-2
                .details-table__col
                  .checkbox--ex
                    label#labelAllAccount 
                      p.opacity-0 全選
                      input(type="checkbox" class="checkItem")
                      span.checkmark             
          .account__type
            .header-table
              .header-table__row
                .header-table__col
                  p.title 信用卡
                .header-table__col
                  .checkbox--ex
                    label#labelAllCredit
                      p.fc-super-red 全選
                      input(type="checkbox" id="selectCredit" checked="checked")
                      span.checkmark
          #account_credit_card_details(style="display:none")
            .details-table
              .details-table__row
                .details-table__col
                  p.title DAWHO 現金回饋卡 (6789)
                .details-table__col
                  .checkbox--ex
                    label#labelAllAccount 
                      p.opacity-0 全選
                      input(type="checkbox" )
                      span.checkmark
              .details-table__row
                .details-table__col
                  p.title 美元幣倍卡 (3456)
                .details-table__col
                  .checkbox--ex
                    label#labelAllAccount 
                      p.opacity-0 全選
                      input(type="checkbox")
                      span.checkmark

        h4(style="margin-top:30px") 金額                
        .button__amount--ex#m500up 500 +
        .button__amount--ex#m5000up 5,000 +
        .button__amount--ex#m10000up 10,000 +

        //-slider2
        .num__limit

          .num__limit-low
            label(for="lowerLimit") 金額下限
            input.hide-arrows(type="number" id="lowerLimit" class="lowerLimit" name="lowerLimit" placeholder="請輸入金額" onchange="slideOnelimit()")

          .num__dash

          .num__limit-up
            label(for="upperLimit") 金額上限
            input.hide-arrows(type="number" id="upperLimit" class="upperLimit" name="upperLimit" placeholder="請輸入金額" onchange="slideTwolimit()")

        .num__range
          .slider__track--ex
            input(type="range" min="0" max="3000000" value="0" id="slider-1" oninput="slideOne()" )
            input(type="range" min="0" max="3000000" value="3000000" id="slider-2" oninput="slideTwo()" )
            //- input(type="range" min="0" id="slider-1" oninput="slideOne()" )
            //- input(type="range" min="0" id="slider-2" oninput="slideTwo()" )
            //- .values
            //-     .range1#range1 0 
            //-     .range2#range2 10000

      .main__filter.position__fixed.boxsize__borderbox.bgColor__btnSet
        .btnSet__ex
          a(onclick="history.back()") 取消
          a.primary  儲存


//- 單頁 Javascript
append script  
  script(src="./js/filterEX.securejs")








