extends _layout.pug

//- 可覆寫 _layout.png 變數，或新增單頁所需變數
append vars 
  - var data_header = {hasArrow: false, hasArrowHeader: true, hasClose: false}

//- 單頁樣式，或若有第三方樣式從這增加
append style  
  //- link(rel="stylesheet" href="./css/jqpreloader.css")
  link(rel="stylesheet" href="./css/master.css")

//- main 區塊
append main 
  .container-fluid.maxWidth-768
    .wrapper.expense 
      .main
        .searching-area
          .bold 收支手帳
          .flex-box   
            a(href="search.html").search-white-img
              img(src="./images/global/icon_search_white.svg" alt="") 
            a(href="filter_ex.html").filter-img
              img(src="./images/global/icon_filter.svg" alt="") 

        //- 時間區間篩選
        include component/_tabs-time.pug
        .balance-area
          .flex-box
            p 淨收支
            a#info.info
              img(src="./images/global/icon_info_white.svg" alt="")
            #info_msg.balance-area-msg(style="display:none") 外幣折算規則 : 若有交易匯率，以原始交易匯率折算，否則以交易日日終匯率折算。
          .bold 20,000

      .pills-area
        a(href="#").pill-income
          span 
          span 收入
          span 141,200

        a(href="#").pill-expenses.active
          span 
          span 支出
          span 41,200

      .round-shape 
        #myHeader.header 
          a#tab1.bold.color-ex 分類
          a#tab2.bold.color-ex.inactive 明細

      #content
        #categories
          .details__notice            
            .details__notice--text 包含「薪資」的搜尋結果如下
            a(href="") 清除搜尋

          .filter__group
            a(href="").btn 金額自訂 
              img(src="./images/global/icon_close_white.svg")
            a(href="").btn 帳務類別(4)
              img(src="./images/global/icon_close_white.svg")

          .categories
            li.list
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .earning__most  
                    .icon-cat.icon-cat__salary                    
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 薪資 
                      .category__label#topLabel.color-ex 花最多
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085       
            li.list
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__transfer                    
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 帳號互轉 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085      
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__bonus                   
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 獎金 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__rent                  
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 租金 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__cashReturn                   
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 退款 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__invest                 
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 投資 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__fixDeposit               
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 定存 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__cashBack                  
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 現金回饋 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details.html")
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__moneyExchange                   
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 換匯 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__loanIncome                  
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 貸款 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__insurance                   
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 保險 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__pension                   
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 退休金 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__cash                   
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 零用金 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__prepay                  
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 代墊款 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__gift                  
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 贈與 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__allowance                  
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 補助 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085         
            li.list
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__others                 
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 其他 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085
            li.list 
              a(href="category_details_ex.html")
                .category
                  .category__flxCol1
                    .icon-cat.icon-cat__unDefine                  
                  .category__flxCol2
                    .category__flxRow1
                      .category__name 這筆是啥 
                      .category__num 134562 筆

                    .category__flxRow2
                      .category__percent 65%
                      .category__amount.amount-style.color-ex 50,500,000,085          

            .gotop#gotop(onclick="window.scrollTo({ top: 0, behavior: 'smooth' })")           
            .total__summary#totalSummary
              a(href="#")  看收入
              a.float-btn.style-ex
                span 總金額
                span.float-btn-amount.color-ex 1,455,445 


        #details(style="display:none;") 
          .details__notice            
            .details__notice--text 包含「薪資」的搜尋結果如下
            a(href="") 清除搜尋

          .filter__group 
            a(href="").btn 金額自訂 
              img(src="./images/global/icon_close_white.svg")
            a(href="").btn 帳務類別(4)
              img(src="./images/global/icon_close_white.svg")

          .sort__number#sorting 
            span  共189筆             
            a(href="#myModal").icon__sorting.popup_toggle

          .details

            .heading__date 2022年3月

            ul.list
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__salary 薪資
                      .list__content 2月份薪資
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22 
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill.unkwon-detail 
                        .pills.pills__unDefine 這筆是啥
                      .list__content 股票款3034-聯詠9股票款3034-聯詠9
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList.exclude 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__transfer 帳號互轉
                      .list__content 換匯款項
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__interest 利息
                      .list__content 股票利息3034-聯詠9股票款3034-聯詠9
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__bonus 獎金
                      .list__content 2月份獎金
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__rent 租金
                      .list__content 大直小窩租金
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__cashBack 現金回饋
                      .list__content Cashback現金回饋
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__cashReturn 退款
                      .list__content 永豐信用卡費
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__invest 投資
                      .list__content 投資信託
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款      
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__fixDeposit 定存
                      .list__content ３月份定存
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__moneyExchange 換匯
                      .list__content 美金兌換
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__loanIncome 貸款
                      .list__content 富邦信貸
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__insurance 保險
                      .list__content 南山人壽儲蓄險
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__pension 退休金
                      .list__content 退休金３月
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__cash 零用金
                      .list__content 零用金餘額
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__prepay 代墊款
                      .list__content 聚餐代墊款
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__gift 贈與
                      .list__content 父母節稅贈與
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__allowance 補助
                      .list__content 選舉補助
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__others 其他
                      .list__content 股票款3034-聯詠9股票款3034-聯詠9
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22
                      .list__account 營業部DAWHO活期儲蓄存款

            .heading__date 2022年2月

            ul.list
              li.pull_keep
                a(href="list_details_ex.html")
                  .flxList 
                    .flxList__line1 
                      .list__pill 
                        .pills.pills__salary 薪資
                      .list__content ２月份薪資
                      .list__amount.amount-style.color-ex 100,000 
                    .flxList__line2
                      .list__date 2022/03/22 
                      .list__account 營業部DAWHO活期儲蓄存款

            //-提示 - 觸發載入更多
            include component/_loader-mini.pug

            //-提示 - 已經到底
            ul.list
              li 
                .flxList__end 已經到底囉~

            .gotop#gotop2(onclick="window.scrollTo({ top: 0, behavior: 'smooth' })") 
            .total__summary#totalSummary2 
              a(href="#")  看收入
              a.float-btn.style-ex
                span 總金額
                span.float-btn-amount.color-ex 1,455,445 

        //-提示訊息
        .message_board#msg_board
          table.msg 
            tbody 
              tr 
                td(rowspan="2" style="width:30%;text-align:center") 
                  img(src="./images/global/update_checkMark.svg" alt="資料更新")
                td 資料更新時間如下：
              tr 
                td.duration 銀行：2022 年 3 月 20 日<br>信用卡：2022 年 3 月 20 日

    .popup2#myModal
      .content
        .content-title
          h3 選擇排序
          a(href="") 取消
        ul.sorting 
          li 
            a(href="").active 金額由大到小
          li
            a(href="") 金額由小到大 
          li
            a(href="") 時間由近至遠
          li
            a(href="") 時間由遠至近  

    .popup2#myModal1
      form(action="") 
        .content
          h3 其他日期

          #dateFilter__content_ex
            .c-radio.custom60.active 近60天
            .c-radio.custom90 近90天
            .c-radio.customAll 全部
            .c-radio.customDuration 自訂

          #dateFilter__content_in(style="display:none")
            .c-radio.custom60.active 近60天
            .c-radio.custom90 近90天
            .c-radio.customAll 全部
            .c-radio.customDuration 自訂    

          div.customDurationInput(style="display:none")
            h3 自訂
            .filter__date-container
              input#date-input-start.filter__date(type='text' onclick='event.preventDefault()' required='' readonly="true")
              .date-dash
              input#date-input-end.filter__date(type='text' onclick='event.preventDefault()' required='' readonly="true")
            p#warningText

          .btnSet__ex#btn-wrap
            a#cancelBtn 取消
            a.primary#submitBtn 確定
      #scrollBlock
        .date-selector-header

          .date-title
            p#date-title 標題
          #date-ok
            p 完成
        .date-selector-title
          div
            p 年
          div 
            p 月
          div 
            p 日
        .date-selector
          #year1.year
          #month1.month
          #day1.day  


//- 單頁 Javascript
append script  

  script(src="./js/vendor/pullkeep.js") 
  script(src="./js/index.js") 
  script(src='./js/scrollDate.js')
  script(src="./js/switchEXIN.js") 
