extends _layout.pug

//- 可覆寫 _layout.png 變數，或新增單頁所需變數
append vars
  - var data_header = {hasArrow: true, hasArrowHeader: false, hasClose: false}

//- 單頁樣式，或若有第三方樣式從這增加
append style  
  link(rel="stylesheet" href="./css/master.css")


//- main 區塊
append main
  .container-fluid
    .wrapper
      .main__status
        .status 
          img(src="./images/global/status_busy.svg", alt="") 
          .status.status__description_heading 忙碌中 
          .status.status__description 請稍後再試
          a(href="").btn_gotIt 我知道了              


//- 單頁 Javascript
append script   
